-f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html

absl-py==2.3.1
apache-beam==2.67.0
chex==0.1.82
diffusers==0.35.1
einops==0.8.1
flax==0.7.4
imageio==2.37.0
jax==0.4.23
jaxlib==0.4.23+cuda12.cudnn89
jaxtyping==0.3.2
ml-dtypes==0.2.0
ml_collections==1.1.0
numba==0.61.2
numpy==1.25.2
opt_einsum==3.4.0
optax==0.1.7
orbax==0.1.9
orbax-checkpoint==0.5.16
protobuf==4.25.8
tabulate==0.9.0
tensorflow-cpu==2.15.0
tensorflow-datasets==4.9.9
tensorflow-probability==0.22.0
torch==2.8.0
typeguard==4.4.4
wandb==0.19.11
